#appointment-working-hours-wrapper table{width:72%;}
#sevice-detail-block{}
#personal-detail-block{}
#edit-provider-detail div div{
	 float: left;
    width: 50%;
}
/*progressbar*/
#progressbar {
	counter-reset: step;
margin-bottom: 39px;
margin-left: 127px;
margin-top: 50px;
overflow: hidden;
}
#progressbar li {
	list-style-type: none;
	color: gray;
	text-transform: uppercase;
	font-size: 9px;
	width: 24%;
	float: left;
	position: relative;
	 z-index: 0;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: gray;
	border-radius: 3px;
	/*margin: 0 auto 5px auto;*/
	 margin: 0 27px 5px;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: gray;
	position: absolute;
	left: -75%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
/*Submit button */
#edit-back,#edit-submit{
background: #27ae60 none repeat scroll 0 0;
border: 0 none;
border-radius: 1px;
color: white;
cursor: pointer;
font-weight: bold;
margin: 10px 5px;
padding: 10px 5px;
width: 100px;
}
#edit-back:hover,#edit-back:focus,#edit-submit:hover,#edit-submit:focus{
box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}